* {
  padding: 0;
  margin: 0;
}

.create-campaign-body {
  margin: 100px auto;
  width: 70vw;
  align-self: center;
  display: flex;
  flex-direction: column;

  .title-page {
    margin-bottom: 50px;
    border: solid rgb(98, 186, 227) 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    img {
      width: 100px;
      margin: 5px 20px;
    }

    .title-page-title {
      display: inline-block;
      padding: 0 5px;
      color: rgb(98, 186, 227);
    }
    p {
      display: inline-block;
      color: rgb(98, 186, 227);
      text-align: center;
    }
  }

  .vocal-campaign-body {
    h3 {
      font-size: 1.5em;
      padding-bottom: 20px;
      color: rgb(98, 186, 227);
    }
    .vocal-campaign-frame {
      margin-bottom: 50px;
      border: solid rgb(98, 186, 227) 2px;
      padding: 5px;
      background-color: white;
    }
    .vocal-campaign-grid {
      max-width: 400px;
      margin-left: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      p {
        margin: 10px;
      }
      .vocal-campaign-name {
        margin: 5px;
        padding-left: 5px;
        width: 70%;
      }
      .vocal-campaign-date {
        margin: 10px;
        // width: 70%;
        .textField {
          width: 70%;
        }
      }
    }
  }

  .vocalization-body {
    h3 {
      font-size: 1.5em;
      padding-bottom: 20px;
      color: rgb(98, 186, 227);
    }
    .vocalization-frame {
      margin-bottom: 50px;
      border: solid rgb(98, 186, 227) 2px;
      padding: 5px 16px;
      background-color: white;
      .text-download {
        display: flex;
        padding: 10px;
        width: 200px;

        .download-icon {
          cursor: pointer;
          width: 35px;
          height: inherit;
          color: rgb(98, 186, 227);
          margin-right: 20px;
        }
      }
      .text-to-vocalize {
        width: 100%;
        height: 100px;
        padding: 10px;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
      .warning-message {
        font-size: 0.7em;
        padding-left: 1px;
      }
      .warning-message-active {
        color: red;
        font-size: 0.7em;
        padding-left: 1px;
      }
    }
  }

  .option-vocalization-body {
    h3 {
      font-size: 1.5em;
      padding-bottom: 20px;
      color: rgb(98, 186, 227);
    }
    .option-vocalization-frame {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 10px;
      border: solid rgb(98, 186, 227) 2px;
      padding: 5px;
      background-color: white;

      grid-container {
        max-width: 700px;
        margin: 15px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-item:nth-child(3) {
          order: 1;
        }
        grid-item:nth-child(4) {
          order: 2;
        }
        grid-item:nth-child(7) {
          order: 3;
        }
        grid-item:nth-child(8) {
          order: 4;
        }
      }
    }
    .vocalization-action {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      grid-row-end: 2;
      grid-gap: 20px;
      margin-bottom: 50px;
      text-align: center;
      .vocalization-action-icon {
        cursor: pointer;
        width: 35px;
        height: inherit;
        color: rgb(98, 186, 227);
      }
      .vocalization-action-icon-grey {
        width: 35px;
        height: inherit;
        color: rgb(136, 148, 153);
      }
      .vocalization-action-vocalize {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .vocalization-action-test {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .vocalization-action-download {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .vocalization-action-dialog-ok {
        cursor: pointer;
        width: 120px;
        height: 40px;
        color: rgb(98, 186, 227);
      }
      .vocalization-action-dialog-error {
        cursor: pointer;
        pointer-events: none;
        width: 120px;
        height: 40px;
        color: red;
      }
      .vocalization-action-trySend {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    audio {
      width: 200px;
    }
  }

  .broadcast-list-body {
    h3 {
      font-size: 1.5em;
      padding-bottom: 20px;
      color: rgb(98, 186, 227);
    }
    .broadcast-list-frame {
      height: 100%;
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
      border: solid rgb(98, 186, 227) 2px;
      padding: 5px;
      background-color: white;
    }
    .broadcast-list-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .broadcast-list-icon {
        cursor: pointer;
        width: 35px;
        height: inherit;
        color: rgb(98, 186, 227);
        margin-right: 20px;
      }
      .broadcast-list-import {
        display: flex;
        padding: 15px;
      }
      .broadcast-list-export {
        color: black;
        display: flex;
        padding: 15px;
        align-items: center;
      }
      .broadcast-list-download {
        display: flex;
        padding: 15px;
        margin-bottom: 10px;
        p {
          padding-left: 20px;
        }
      }
    }
  }
}

.flexForm {
  display: flex;
}

.alert-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.sendCampaign {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background-color: white;
  border: solid rgb(98, 186, 227) 6px;
  cursor: pointer;
  color: rgb(98, 186, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  .sendCampaign-loader-on {
    display: block;
    padding-left: 5px;
    // width: 5px;
  }
  .sendCampaign-loader-off {
    display: none;
  }
  .sendCampaignIcon {
    width: 35px;
    height: 35px;
    margin: 0 20px 0px 10px;
    color: rgb(98, 186, 227);
  }
  h3 {
    font-size: 16px;
  }
}

.fileNotYetUploaded {
  cursor: pointer;
  width: 40vw;
  border: 1px solid rgb(98, 186, 227);
  text-align: center;
  border-radius: 5px;
  em {
    font-size: 0.8em;
  }

  @media screen and (max-width: 768px) {
    .broadcast-list-frame {
      align-items: center;
    }

    .title-page {
      flex-direction: column;
    }
  }

  .flexForm {
    display: flex;
  }
}
.fileUploaded {
  cursor: pointer;
  border: 1px solid #63e26a;
  /* background-color: #aed581; */
  text-align: center;
  width: 20vw;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 0.9em;
}
.hidden {
  display: none;
}

.contacts-upload {
  display: flex;
}

.broadcast-icon {
  width: 35px;
  height: inherit;
  color: rgb(98, 186, 227);
}

.broadcast-list-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.audio-duration {
  margin-top: 10px;
  font-size: 12px;
}

.receivedWrongFormat {
  color: red;
}

.blue {
  color: rgb(98, 186, 227);
}

.alert-phone-number {
  margin-left: 68px;
  font-size: 12px;
  font-style: italic;
}
.template {
  margin-left: 68px;
  font-size: 12px;
  color: rgb(98, 186, 227);
  margin-bottom: 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .create-campaign-body {
    .vocal-campaign-body {
      .vocal-campaign-grid {
        max-width: 400px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .vocal-campaign-name {
          width: 100%;
        }
        .vocal-campaign-date {
          width: 100%;
        }
      }
    }

    .option-vocalization-body {
      .option-vocalization-frame {
        grid-container {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-item:nth-child(1) {
            order: 1;
          }
          grid-item:nth-child(2) {
            order: 2;
          }
          grid-item:nth-child(3) {
            order: 3;
          }
          grid-item:nth-child(4) {
            order: 4;
          }
          grid-item:nth-child(5) {
            order: 5;
          }
          grid-item:nth-child(6) {
            order: 6;
          }
          grid-item:nth-child(7) {
            order: 7;
          }
          grid-item:nth-child(8) {
            order: 8;
          }
        }
      }
    }
    .broadcast-list-body {
      .broadcast-list-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }
    .title-page {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 100px;
        margin: 5px 20px;
      }
    }
    .fileNotYetUploaded {
      cursor: pointer;
      width: 20vw;
    }
  }

  .sendCampaign {
    h3 {
      font-size: 18px;
    }
  }
  .alert-phone-number {
    margin-left: 68px;
    font-size: 12px;
    font-style: italic;
    width: 35%;
  }
  .template {
    width: 30%;
  }
}

@media screen and (max-width: 420px) {
  .create-campaign-body {
    .option-vocalization-body {
      .option-vocalization-frame {
        grid-container {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(12, auto);
          grid-item:nth-child(3) {
            order: 1;
          }
          grid-item:nth-child(4) {
            order: 2;
          }
          grid-item:nth-child(7) {
            order: 3;
          }
          grid-item:nth-child(8) {
            order: 4;
          }
        }
      }
      .vocalization-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        margin-bottom: 50px;
        text-align: center;
        div:nth-child(4) {
          grid-column-start: 2;
          grid-column-end: 2;
        }
      }
    }
  }
  .sendCampaign {
    h3 {
      font-size: 12px;
    }
  }
}
