$primary-blue: rgb(98, 186, 227);
$secondary-blue: #116490;

.campaign-main-container {
  //   border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  margin: 50px auto;
}

.micro-logo {
  width: 25%;
  height: 80%;
  color: $secondary-blue;
}

.campaign-intro {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80vw;
  margin-bottom: 50px;
  align-items: center;
  div {
    h2,
    h3 {
      color: $secondary-blue;
    }
  }
}

.campaign-information {
  display: flex;
  flex-direction: column;
}

.campaign-table {
  //   border: 1px solid black;
  width: 300px;
  border-spacing: 15px;
}

.edit-campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.edit-logo {
  display: block;
  border: 5px solid $primary-blue;
  border-radius: 50%;
  padding: 10px;
  font-size: 100px;
}

.statistiques {
  display: flex;
  flex-direction: column;
  height: 800px;
  border: 1px solid black;
  width: 80vw;
  margin-top: 50px;
}

.export-statistiques {
  display: flex;
  align-items: center;
  color: $primary-blue;
  align-self: center;
  p {
    margin-top: 30px;
  }
}

.export-logo {
  color: $primary-blue;
  height: 60px;
  width: 60px;
}

@media screen and (min-width: 768px) {
  .campaign-information {
    flex-direction: row;
    align-items: flex-start;
    width: 80vw;
  }

  .campaign-intro {
    div {
      h2 {
        font-size: 46px;
      }
      h3 {
        font-size: 42px;
      }
    }
  }

  .edit-campaign {
    flex-direction: column;
    padding: 0;
    margin-left: 50px;
    border-radius: 50%;
  }

  .edit-logo {
    font-size: 100px;
  }

  .export-statistiques {
    align-self: flex-end;
    padding-right: 30px;
  }
}

@media screen and (min-width: 960px) {
  .campaign-information {
    width: 60vw;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}
