.bodyContainer ul li {
  text-decoration: none;
  list-style: none;
}

.bodyContainer ul {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.bodyContainer ul li {
  text-align: center;
  margin-top: 50px;
  width: 50vw;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bodyContainer img {
  width: 250px;
}

.login-register-logo {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 460px) {
  .login-register-logo {
    width: 150px;
    height: 150px;
  }
}
