.bodyContainer ul li {
  text-decoration: none;
  list-style: none;
}

.bodyContainer ul {
  display: flex;
  justify-content: center;
}

.bodyContainer ul li {
  text-align: center;
  padding: 40px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bodyContainer img {
  width: 250px;
}
