header li {
  list-style: none;
}

.menuBtn {
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: space-around;
}

.logoutBtn-true {
  display: block;
}

.logoutBtn-false {
  display: none;
}

.create-campaign {
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  background: #eaeaea;
  height: 65px;
  color: white;
}

.userTitle {
  padding-top: 20px;
  font-size: 1.5em;
  color: black;
}

.BurgerMenu img {
  width: 70px;
  padding-left: 20px;
}

.menuBtn button,
.menuBtn a {
  border: 1px solid #5ebbea;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.menuBtn a:hover {
  background-color: #00bfff;
}

.menuBtn ul:nth-child(2) button {
  background: #00bfff;
}

.menuBtn ul:nth-child(2) button:hover {
  background: none;
  cursor: pointer;
}
.menuBtn ul {
  padding: 10px;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 26px;
  height: 20px;
  left: 25px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #5ebbea;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 20px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item:hover {
  background-color: #337ab7;
}

#home {
  text-align: center;
  color: white;
  font-weight: bold;
}

#react-burger-menu-btn a:focus {
  border: none;
}

.bm-menu a {
  text-decoration: none;
  color: white;
}

.bm-menu a:visited {
  text-decoration: none;
  color: white;
}

@media (max-width: 650px) {
  .userTitle {
    display: none;
  }
}
