body {
  background-image: url("../images/BG-PRODUCT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}
