:root {
  --primary-color: rgb(98, 186, 227);
  --secondary-color: rgb(33, 36, 36);
}

.compaigns-view-container {
  height: 100%;
}

.campaings-editor-view-container {
  display: flex;
}

.campaigns-editor-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 30px;
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.campaigns-list {
  margin: 10px;
  border: 4px solid var(--primary-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  background-color: white;
}

.campaigns-chart {
  width: 50%;
  background-color: white;
}

// .campaigns-list-table-options {
//   display: grid;
//   grid-gap: 10px;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr;
//   margin-bottom: 10px;
//   margin-left: 20px;
//   font-size: 14px;

// }

.table-campaign-search {
  margin-bottom: 5px;
  label {
    width: 90%;
  }
  input {
    border: 1px solid rgb(98, 186, 227);
    width: 99%;
    height: 20px;
    padding: 2px;
  }
}

.table-search {
  border: 1px solid rgb(98, 186, 227);
  font-weight: normal;
  font-size: 14px;
  width: 100px;
  margin: 0px auto 5px;
  cursor: pointer;
}
.table-date-sort {
  margin-bottom: 5px;

  select {
    border: 1px solid rgb(98, 186, 227);
    height: 20px;
  }
}

.campaigns-list-table {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  table {
    border-collapse: collapse;
    width: 100%;
  }
}

.same-width-than-search-icon {
  color: orange;
  cursor: pointer;
  font-size: 20px;
}

.no-border {
  border: none;
  text-align: center;
  width: 30px;
}

.deleteCampaign {
  color: red;
  font-size: 20px;
}

.stylized-td {
  border: 1px solid grey;
  padding: 10px;
  font-size: 14px;
}

/* td:nth-child(0n + 4) {
  width: 150px;
} */

.cell-campaign-status {
  display: flex;
  align-items: center;
}

.stylized-th {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--secondary-color);
  padding: 10px;
}

.search-icon {
  color: grey;
  cursor: pointer;
}

.megaphone,
.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

a:visited {
  color: black;
}

.btn-icon {
  display: block;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 100px;
}

h2,
h3 {
  text-align: center;
}

.title {
  color: var(--primary-color);
}

.microphone-icon {
  font-size: 100px;
}

.status {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}
.finished-status {
  background: #aed581;
}

.in-progress-status {
  background: #ddb637;
}

.in-creation-status {
  background: #747474;
}

.awaiting-status {
  background: #f4511e;
}

@media only screen and (max-width: 400px) {
  td,
  th,
  .stylized-th,
  .stylized-td {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.6em;
    width: auto;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 760px) {
  .campaigns-list {
    width: 80%;
    margin: auto;
  }
  td,
  th,
  .stylized-th,
  .stylized-td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 760px) and (max-device-width: 1024px) {
  .campaigns-list {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .campaigns-list {
    width: 80%;
    margin: auto;
  }
}
