button:hover {
  cursor: pointer;
}

.contacts-view-container {
  // margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 760px) and (orientation: portrait) {
  .landscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      font-size: 18px;
      color: red;
    }
    img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 760px) {
  .landscape {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .landscape {
    display: none;
  }
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0px auto;
  input {
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 12px;
    width: 100%;
    height: 100%;
  }
  .create-and-modify-contact-btn {
    border: none;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-color: light grey !important;
    &:hover {
      background-color: #aed581;
    }
  }
  .delete-contact-btn {
    border: none;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-color: light grey !important;
    &:hover {
      background-color: #f4511e;
    }
  }
}

td {
  border: 1px solid grey;
}

.small-title {
  margin-top: 30px;
  margin-bottom: 35px;
  color: rgb(98, 186, 227);
  text-align: center;
}

.id {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  font-size: 0.9em;
}

.create-and-modify-contact-btn {
  background-color: light grey;
  &:hover {
    background-color: #aed581;
  }
}

.add-contact-form {
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  width: 80%;
  font-size: 14px;
  button {
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 760px) {
  .contacts-view-container {
    margin: 40px 0;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */

  .add-contact-form {
    width: 80%;

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    tr {
      border: 1px solid #ccc;
      padding: 0px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 0px;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      white-space: nowrap;
    }
  }
}
