button:hover {
  cursor: pointer;
}

.contacts-view-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid grey;
}

input,
button {
  border: none;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.small-title {
  margin-top: 30px;
  margin-bottom: 35px;
  color: rgb(98, 186, 227);
}

.id {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  font-size: 0.9em;
}

.delete-contact-btn:hover {
  background-color: #f4511e;
}

.create-and-modify-contact-btn:hover {
  background-color: #aed581;
}

.add-contact-form {
  margin-bottom: 30px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */

  .add-contact-form {
    width: 80%;

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    tr {
      border: 1px solid #ccc;
      padding: 0px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 0px;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      white-space: nowrap;
    }
  }
}
