.stats-view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 90px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: var(--primary-color);
    width: 80%;
  }
}

.stats-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
  text-align: center;
  background-color: white;
  border: 4px solid var(--primary-color);

  h4 {
    margin-bottom: 15px;
    color: var(--primary-color);
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0px auto 50px;
  }
}

.stats-container th {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--secondary-color);
  padding: 10px;
}

.stats-container p {
  margin: 10px;
}

.stats-charts {
  width: 100%;
  height: 80vh;
  margin-bottom: 50px;
  margin-top: 20px;
}
